<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="personne">
            <h2><span jhiTranslate="spiralExpressApp.personne.detail.title">Personne</span> {{ personne.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="spiralExpressApp.personne.nom">Nom</span></dt>
                <dd>
                    <span>{{ personne.nom }}</span>
                </dd>
                <dt><span jhiTranslate="spiralExpressApp.personne.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ personne.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="spiralExpressApp.personne.pays">Pays</span></dt>
                <dd>
                    <span>{{ personne.pays }}</span>
                </dd>
                <dt><span jhiTranslate="spiralExpressApp.personne.adresse">Adresse</span></dt>
                <dd>
                    <span>{{ personne.adresse }}</span>
                </dd>
                <dt><span jhiTranslate="spiralExpressApp.personne.telephone">Telephone</span></dt>
                <dd>
                    <span>{{ personne.telephone }}</span>
                </dd>
                <dt><span jhiTranslate="spiralExpressApp.personne.email">Email</span></dt>
                <dd>
                    <span>{{ personne.email }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/personne', personne.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
