<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-coli-heading" jhiTranslate="spiralExpressApp.coli.home.createOrEditLabel">Create or edit a Coli</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralExpressApp.coli.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralExpressApp.coli.longueur" for="field_longueur">Longueur</label>
                    <input type="number" class="form-control" name="longueur" id="field_longueur"
                           formControlName="longueur"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralExpressApp.coli.largeur" for="field_largeur">Largeur</label>
                    <input type="number" class="form-control" name="largeur" id="field_largeur"
                           formControlName="largeur"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralExpressApp.coli.hauteur" for="field_hauteur">Hauteur</label>
                    <input type="number" class="form-control" name="hauteur" id="field_hauteur"
                           formControlName="hauteur"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="spiralExpressApp.coli.poids" for="field_poids">Poids</label>
                    <input type="number" class="form-control" name="poids" id="field_poids"
                           formControlName="poids"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
